<ion-header>
  <ion-toolbar>
    <ion-title color="meme">Meme | SignIn • SignUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 50%;"></div>
  <ion-card>
    <br/>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col><ion-button color="meme" (click)="signUp()" expand="block">Sign Up</ion-button></ion-col>
          <ion-col><ion-button color="meme" (click)="signIn()" expand="block">Sign In</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
